<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XMPMS.Properties.MOTD" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="XMPMS.MOTD" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="XMPMS.Properties.Modules" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="XMPMS.Stats" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="XMPMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XMPMS.Properties.MOTD>
            <setting name="eng" serializeAs="String">
                <value />
            </setting>
            <setting name="det" serializeAs="String">
                <value />
            </setting>
            <setting name="est" serializeAs="String">
                <value />
            </setting>
            <setting name="frt" serializeAs="String">
                <value />
            </setting>
            <setting name="itt" serializeAs="String">
                <value />
            </setting>
            <setting name="kot" serializeAs="String">
                <value />
            </setting>
            <setting name="tct" serializeAs="String">
                <value />
            </setting>
            <setting name="rut" serializeAs="String">
                <value />
            </setting>
        </XMPMS.Properties.MOTD>
        <XMPMS.MOTD>
            <setting name="int" serializeAs="String">
                <value />
            </setting>
            <setting name="det" serializeAs="String">
                <value />
            </setting>
            <setting name="est" serializeAs="String">
                <value />
            </setting>
            <setting name="frt" serializeAs="String">
                <value />
            </setting>
            <setting name="itt" serializeAs="String">
                <value />
            </setting>
            <setting name="kot" serializeAs="String">
                <value />
            </setting>
            <setting name="tct" serializeAs="String">
                <value />
            </setting>
            <setting name="rut" serializeAs="String">
                <value />
            </setting>
        </XMPMS.MOTD>
        <XMPMS.Properties.Modules>
            <setting name="ICDKeyValidator" serializeAs="String">
                <value>CDKeyValidatorXMP</value>
            </setting>
            <setting name="ILogWriter" serializeAs="String">
                <value>LogWriterFile</value>
            </setting>
            <setting name="IGameStatsLog" serializeAs="String">
                <value>GameStatsLogFile</value>
            </setting>
            <setting name="IWebLogWriter" serializeAs="String">
                <value>WebLogWriterFile</value>
            </setting>
            <setting name="IConnectionLogWriter" serializeAs="String">
                <value>ConnectionLogWriterFile</value>
            </setting>
        </XMPMS.Properties.Modules>
        <XMPMS.Stats>
            <setting name="TotalQueries" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalWebQueries" serializeAs="String">
                <value>0</value>
            </setting>
        </XMPMS.Stats>
        <XMPMS.Properties.Settings>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebServerListenPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="WebServerListenAddresses" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>+</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="WebServerServerHeader" serializeAs="String">
                <value>U2XMP Web-Based Master Server List</value>
            </setting>
            <setting name="WebServerSkinFolder" serializeAs="String">
                <value>u2xmp</value>
            </setting>
            <setting name="WebServerGameTypeFilter" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="WebServerMapUrl" serializeAs="String">
                <value>maps/</value>
            </setting>
            <setting name="WebServerLogFolder" serializeAs="String">
                <value>logs\web</value>
            </setting>
            <setting name="WebRootFolder" serializeAs="String">
                <value>wwwroot</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value>logs</value>
            </setting>
            <setting name="ConnectionLogFolder" serializeAs="String">
                <value>logs\net</value>
            </setting>
            <setting name="StatsFolder" serializeAs="String">
                <value>Stats</value>
            </setting>
            <setting name="GlobalIgnoreGameTypeFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MatchID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MSListEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MSListMaxServers" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MSListServers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="MSListPorts" serializeAs="Xml">
                <value>
                    <ArrayOfUnsignedShort xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <unsignedShort>27900</unsignedShort>
                        <unsignedShort>27900</unsignedShort>
                        <unsignedShort>27900</unsignedShort>
                        <unsignedShort>27900</unsignedShort>
                    </ArrayOfUnsignedShort>
                </value>
            </setting>
            <setting name="TelnetPort" serializeAs="String">
                <value>10023</value>
            </setting>
            <setting name="TelnetPassword" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="SyncServiceEndpoint" serializeAs="String">
                <value>rpc</value>
            </setting>
            <setting name="SyncServiceName" serializeAs="String">
                <value>link</value>
            </setting>
            <setting name="SyncServiceUris" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="SyncServiceUsername" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="SyncServicePassword" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="GeoIPDataFile" serializeAs="String">
                <value>GeoIP.csv</value>
            </setting>
            <setting name="MD5DataFile" serializeAs="String">
                <value>MD5.csv</value>
            </setting>
            <setting name="BanListFile" serializeAs="String">
                <value>BanList.txt</value>
            </setting>
            <setting name="CDKeyFile" serializeAs="String">
                <value>CDKeys.txt</value>
            </setting>
            <setting name="PassthroughValidatorHost" serializeAs="String">
                <value>ut2003master1.epicgames.com</value>
            </setting>
            <setting name="PassthroughValidatorPort" serializeAs="String">
                <value>28902</value>
            </setting>
            <setting name="ConsoleWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ConsoleHeight" serializeAs="String">
                <value>25</value>
            </setting>
        </XMPMS.Properties.Settings>
    </userSettings>
</configuration>